 body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url(images/Tokyo.gif
      ); 
      background-size: cover;      
     
      background-position: center;   
      background-attachment: fixed; 
    }
    .contenu {
      position: relative;
      z-index: 1;
      color: red;
      text-align: center;
      padding-top: 20%;
     width: 80%;
  font-size: 1.2rem;
  margin: auto;
  padding: 40px;
}
body {
  font-family: 'Sawarabi Mincho', serif;
}
.drapeau {
  width: 80px; 
  animation: bouge 13s infinite linear;
  display: block;
  ;
}

@keyframes bouge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1200px); 
  }
  100% {
    transform: translateX(0);
  }
}
.bulles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.bulle {
  background-color: #ede5e5; 
  border-radius: 50px;
  padding: 30px;
  width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.bulle:hover {
  transform: scale(1.05);
  background-color: #ff1a01;
}

.bulle h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.bulle p {
  font-size: 1rem;
  color: #000000;
}
.bulle1 :hover {
  transform: scale(1.05);
  background-color: #ff1a01;
}

.bulle1 h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.bulle1 p {
  font-size: 1rem;
  color: #000000;
}
.bulle1 {
  background-color: #ede5e5; 
  border-radius: 50px;
  padding: 30px;
  width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


      



      