<<<<<<< HEAD


@keyframes Kiwi {
    0%{width: 0; height: 0; opacity: 0;}
    25%{width:50px; height: 70px;opacity: 0.3;}
    50%{width:100px; height: 140px;opacity: 0.5;}
    75%{width:220px; height: 310px;opacity: 0.8;}
    100%{width:250px; height: 350px;opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Kiwi Maru", serif;
    background-color:#01579B;
    color:#8D6E63;
}


img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
 


h1{
    text-align: center;
    margin: 20px;
    font-size: medium;
}

.boite{
    border: 2px solid #8D6E63;
}

section,figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
ol{
        list-style-position: inside;
     }


p,a,td,li{
    color: #A6C64C;
 }

 td{ padding: 5px;
}

 section,p,a,table,li,iframe{
    padding: 10px;
    margin: 10px;
}


table,th,td,caption{
    border: 2px solid  #8D6E63;  
}


#Kiwi-animation{
    animation: Kiwi 5s linear;
}


@media screen and (min-width:768px){
    #donnée-général{
        flex-direction: row;
        gap: 20px;
    }
     #grid-min768{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        align-content: center;

     }
=======


@keyframes Kiwi {
    0%{width: 0; height: 0; opacity: 0;}
    25%{width:50px; height: 70px;opacity: 0.3;}
    50%{width:100px; height: 140px;opacity: 0.5;}
    75%{width:220px; height: 310px;opacity: 0.8;}
    100%{width:250px; height: 350px;opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Kiwi Maru", serif;
    background-color:#01579B;
    color:#8D6E63;
}


img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
 


h1{
    text-align: center;
    margin: 20px;
    font-size: medium;
}

.boite{
    border: 2px solid #8D6E63;
}

section,figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
ol{
        list-style-position: inside;
     }


p,a,td,li{
    color: #A6C64C;
 }

 td{ padding: 5px;
}

 section,p,a,table,li,iframe{
    padding: 10px;
    margin: 10px;
}


table,th,td,caption{
    border: 2px solid  #8D6E63;  
}


#Kiwi-animation{
    animation: Kiwi 5s linear;
}


@media screen and (min-width:768px){
    #donnée-général{
        flex-direction: row;
        gap: 20px;
    }
     #grid-min768{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        align-content: center;

     }
>>>>>>> 13dca9cea88a620379ddaac6d266ababdd1f9b30
}