*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 { color:white ;
    text-align: center;
    margin-top: 120px;
    
}

h2{ color:white ;
    text-align: center;
    margin-top: 120px;
    font-family: 'Trebuchet MS';
}

body{
    background-image: url("../images/photo_main.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.container_menu{
     background-color: rgba(255,255,255,.5);
     width: fit-content;
     position: relative;
     margin-top: 80px;
     margin-left: 35%;
    
    
    
}
ul{
    list-style: none;  
    
}

li{
    margin-bottom: 10px;
}

ul li a{
    display: block;
    color: blue;
    text-decoration:none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li{
display: block;

}

ul li ul.dropdown {
width: 100%;
background-color: rgba(255,255,255,.5);
position: relative;


}

ul li a:hover{
    background-color: cyan;
}

ul li:hover ul.dropdown{
    display:block;
    
}

.dropdown{
    max-height: 0;
    overflow: hidden;
}
.collapse:hover .dropdown{
    max-height: 10000px;
    transition:0.3 ease;
}


.container_form{
  background: linear-gradient(#e64141,#0ff77f);
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 360px;
  border-radius: 20px;
  position: relative;
  top:50px;
  margin:auto ;
  
}

  #form{
  padding-left: 50px;
  color: black;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
}

header{
 display: flex;
 justify-content: center;
 
 
}

a{
    text-decoration:none;
}

